{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <div class="stats-grid">

    <div class="stat-card">
        <h3>Purchase Value</h3>
    <p>
    ₹{{ "%.2f"|format(purchase_value) }}
    </p>
    </div>

    <div class="stat-card">
        <h3>Total Quantity</h3>
        <p>{{ total_quantity|int }}</p>
    </div>

    <div class="stat-card">
        <h3>Suppliers</h3>
        <p>{{ supplier_count }}</p>
    </div>

</div>
</div>
<input
    type="text"
    placeholder="Search supplier or product..."
    class="form-control">

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Product ID</th>
            <th>Qty Added</th>
            <th>Supplier</th>
            <th>Invoice</th>
            <th>Purchase Price</th>
            <th>Total Value</th>
        </tr>
    </thead>

    <tbody>
        {% for e in entries %}
        <tr>
            <td>{{ e.entry_date.strftime('%d-%m-%Y') }}</td>
            <td>{{ e.product.product_name }}</td>
            <td>{{ e.quantity_added }}</td>
            <td>{{ e.supplier_name }}</td>
            <td>{{ e.invoice_no }}</td>
            <td>₹{{ e.purchase_price }}</td>
            <td>₹{{ e.quantity_added * e.purchase_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}