{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="row mb-4">

    <div class="col-md-4">

        <div class="card shadow-sm">

            <div class="card-body">

                <h3>{{ customer.name }}</h3>

                <p class="text-muted">
                    📞 {{ customer.phone }}
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-8">

        <div class="row">

            <div class="col-md-4">

                <div class="card shadow-sm">

                    <div class="card-body text-center">

                        <h6>Total Orders</h6>

                        <h2>{{ total_orders }}</h2>

                    </div>

                </div>

            </div>

            <div class="col-md-4">

                <div class="card shadow-sm">

                    <div class="card-body text-center">

                        <h6>Total Spent</h6>

                        <h2>₹{{ "%.2f"|format(total_spent) }}</h2>

                    </div>

                </div>

            </div>

            <div class="col-md-4">

                <div class="card shadow-sm">

                    <div class="card-body text-center">

                        <h6>Average Order</h6>

                        <h2>₹{{ "%.2f"|format(avg_order) }}</h2>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
    <h4 class="mb-3">
        Purchase History
    </h4>
    <table class="table table-striped table-hover align-middle">

        <thead>
        <tr>
            <th>Invoice</th>
            <th>Date</th>
            <th>Total Amount</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>

        {% for order in orders %}

        <tr>
            <td>#{{ order.order_id }}</td>
            <td>{{ order.order_date.strftime('%d %b %Y') }}</td>
            <td>₹{{ "%.2f"|format(order.total_amount) }}</td>

            <td>
                <a href="{{ url_for('sales.receipt', order_id=order.order_id) }}"
                class="btn btn-sm btn-primary">
                    View Invoice
                </a>
            </td>
        </tr>

        {% else %}

        <tr>
            <td colspan="3" class="text-center">
                No purchase history found.
            </td>
        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}